<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta charset="UTF-8" />
  <title>{{ content.title }}</title>

  <link href="../styles/0001.css" rel="stylesheet" type="text/css" />
  <link href="../styles/0002.css" rel="stylesheet" type="text/css" />
</head>

<body class="calibre">
  <h1 class="calibre_11"><span class="calibre1">{{ content.title }}
        #{{ content.index }}:</span><br class="calibre5" /><span class="calibre1">{{ content.chapter }}</span></h1>
  {% for paragraph in content.paragraphs -%}
  {% if paragraph.tag == "p" -%}
    <p>{{ paragraph.text }}</p>
  {% elif paragraph.tag == "blockquote" -%}
    <blockquote><p>{{ paragraph.text }}</p> {% if paragraph.cite -%} <cite>{{ paragraph.cite }}</cite> {% endif %}</blockquote>
  {% endif  %}
  {% endfor %}
</body>

</html>